body, html {
	margin: 0;
}
#mainCanvas {
	-webkit-transition: background 0.4s;
	transition: background 0.4s;
}
#imgPreload {
	display: none;
}

#logger {
    position:fixed;
    bottom:0;
    z-index:150;
    width:100%;
    background-color:#39f;
}
