body, html {
    margin:0;
    background-color:#322125;
}
#mainCanvas {
	margin:0;
	padding:0;
	display:none;
}

#welcomeScreen {
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-family:Tahoma, sans-serif;
    color:white;
    background-color:white;
}
#welcomeScreen>div {
    width:670px;
    height:300px;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:center;
    background-image:url(../img/logoscreen.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#welcomeScreen button {
    width:80%;
    height:80px;
    font-size: 50px;
    background:none;
    border: 3px solid #fff;
    color:#fff;
}

#welcomeScreen button:hover {
    background-color:#FF584C;
}

#welcomeScreen a{
    color:#000;
    font-size:.6em;
}