body, html {
    margin:0;
}
#mainCanvas {
	margin:0;
	padding:0;
	display:none;
}

#welcomeScreen {
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-family:Tahoma, sans-serif;
    color:white;
}
#welcomeScreen>div {
    width:600px;
    height:300px;
    padding:10px;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #1262B2;
    box-shadow:10px 10px 0 0 #39f;
}
#welcomeScreen button {
    width:80%;
    height:80px;
    font-size: 50px;
    background:none;
    border: 3px solid #fff;
    color:#fff;
}

#welcomeScreen button:hover {
    background-color:#FF584C;
}

#welcomeScreen a{
    color:white;
    font-size:.6em;
}